src/main/mule/cicdsample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="cicd_HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c7367000-b207-45ed-aea3-c22af8561321" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="cicdsampleFlow" doc:id="0ca6b372-84a7-4c38-891d-636a0b753b5e" >
		<http:listener doc:name="Listener" doc:id="a35eabbd-7557-4516-a3a4-cef540efe69e" config-ref="cicd_HTTP_Listener_config" path="/cicd"/>
		<set-payload value="#['sreekar test']" doc:name="Set Payload" doc:id="40f250b6-1660-4876-a28f-e6b059732f03" />
	</flow>
</mule>
